.button {
  padding: 8px 16px;
  font-size: 14px;
  line-height: 1;
  font-weight: 500;
  color: #fff;
  background-color: #f16767;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background-color: #ef5555;
  }

  &:active {
    box-shadow: #333 0 0 3px 0;
  }
}
