.header {
  padding: 16px;
  margin-bottom: 36px;
  display: flex;
  justify-content: center;

  &__navigation {
    display: flex;
    justify-content: center;
    gap: 18px;
    font-size: 20px;
  }
}

.navigation {
  text-decoration: none;
  border: 2px solid transparent;
  padding: 2px;

  &--active {
    border-bottom-color: crimson;
  }
}
