.App {
  max-width: 1000px;
  margin: 0 auto;
}

h2 {
  font-size: 28px;
}

.result-table {
  width: 100%;
  border-collapse: collapse;

  & tr:nth-child(2n + 1) {
    background-color: #eeeeee;
  }

  & th {
    padding: 8px 6px;
    background-color: #666;
    color: #ffffff;
    font-weight: 600;
    text-align: left;
    width: min-content;
  }

  & td {
    border-bottom: 1px solid #bbbbbb;
    padding: 3px 6px;
    width: min-content;
  }

  & td a {
    text-decoration: none;

  }

  & tr:hover td a {
    color: #f03;
  }

}
